<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Publicar Matéria</title>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js" type="application/javascript"></script>
  <script src="javascripts/publicar.js"></script>
  <link rel="stylesheet" href="css/publicar_styles.css">

</head>

<body>
  <div class="topnav">
    <a>Coop News!</a>
    <a href="http://localhost:3000">Home</a>
    <a class="active" href="http://localhost:3000/publicar">Publicar</a>
  </div>

  <!--<button onclick="connectMetamask()">connect</button>
  <button onclick="getBalance()">getBalance</button>-->
  <form class="formulario">
    <label for="chaveprivada">Chave Privada:<br></label>
    <input type="text" id="chaveprivada" name="chaveprivada" required>
    <br>
    <label for="articleTitle">Title:<br></label>
    <input type="text" id="articleTitle" name="articleTitle" required>
    <br>
    <label for="articleContent">Article Content:<br></label>
    <br>
    <textarea id="articleContent" name="articleContent" rows="20" cols="150" required></textarea>
    <br>
    <button class="button" onclick="enviarArtigo()"><br>Enviar Artigo<br><br></button>
  </form>
</body>
</html>