<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroller</title>
    <!--<link rel="stylesheet" href="/styles.css">-->
</head>
<body>
    <h1>Bem vindo ao Scroller!</h1>
    <p><%= message %></p>
    <div id="posts">
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            pegaPost();
        });
        async function pegaPost() {
            let inicio = 1;
            let fim = 15;
            const response = await fetch(`http://localhost:3000/posts/${inicio}/${fim}`);
            const data = await response.json();
            
            for (let i = data.length - 1; i > 0; i--) {
                
                const posts = document.getElementById('posts');
                const postDiv = document.createElement('div');
                postDiv.setAttribute('id', 'post-box'); // Set the id attribute to "post-box"
                
                const title = document.createElement('h2');
                title.textContent = data[i]['titulo'];
                
                const content = document.createElement('p');
                content.textContent = data[i]['conteudo'];
                
                postDiv.appendChild(title);
                postDiv.appendChild(content);
                posts.appendChild(postDiv);
            }
        }
    </script>
</body>
</html>
