<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaking News!</title>
    <!--<link rel="stylesheet" href="/styles.css">-->
</head>
<body>
    <div class="topnav">
        <a>Breaking News!</a>
        <a class="active" href="locahost:3000">Home</a>
        <a href="locahost:3000/publicar">Publicar</a>
      </div>
      
      <h1><%= title %></h1>
      <button class="enableEthereumButton">Connect to Metamask</button>
      <h2>Account: <span class="showAccount"></span></h2>
      <h2>Chain ID: <span class="showChainId"></span></h2>
      
      <script src="javascripts/publicar.js"></script>
</body>
</html>
