<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coop News!</title>
    <link rel="stylesheet" href="css/index_styles.css">
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
    <script src="javascripts/index.js"></script>
</head>
<body>
    <div class="topnav">
        <a>Block News!</a>
        <a class="active" href="http://localhost:3000">Home</a>
        <a href="http://localhost:3000/publicar">Publicar</a>
      </div>
    <div class="posts" id="posts">
    </div>

    <button class="button" onclick="PegaMaisPosts()"><br>Ver mais posts<br><br></button>
</body>
</html>